.container{
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 1360px;
  height: 768px;
  margin: 0 auto;
  text-align: center;
}
.clearfix:after{
    content:'';
    display: table;
    clear:both;
}
.logo-img{
  float: left;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  /*display: block;*/
  width: 46px;
  height: 44px;
  background-position: 157px 49px;
  /*margin: 0 auto;
  padding: 0;*/
  padding-left: 157px;
  padding-top: 49px;
}

.logo a:hover .logo-img{
  background-image: url("../img/logo-orange.png");
  background-repeat: no-repeat;
  background-position: 157px 49px;
  color: #f26522;
}
.logo p{
  margin: 0 auto;
}
.name h1, h2{
  margin: 0 auto;
  list-style: none;
  text-transform: uppercase;
  font-family: Verdana;
  color:  #ffffff;
}
.logo a:hover .name h1{
  color: #f26522;
}
.logo a:hover .name h2{
  color: #f26522;
}
.name{
  float: left;
  padding-left: 15px;
}
.logo h1{
  padding-top: 49px;
  font-size: 29px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
  padding-bottom: 0;
}
.logo h2{
  position: relative;
  padding: 0;
  padding-top: 6px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}
.contacts{
  float: right;
  font-family: Verdana;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  padding: 0;
  margin: 0 auto;
  padding-right: 147px;
  padding-top: 57px;
}
.contacts p{
  margin: 0 auto;
  padding-bottom: 47px;
}
.main{
  float:left;
  list-style: none;
  padding: 0;
  width: 1366px;
  position: relative;

}
.photo-item{
  float: left;
  margin: 0 auto;
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 58px;
}
.photo-item:nth-child(1){
  padding-left: 155px;
}
.photo-item:nth-child(4){
  padding-left: 155px;
}
figcaption a{
  text-decoration: none;
  color: white;
  font-family: Verdana;
  color:  #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
}
figcaption{
  margin-top: 12px;
}
/*figcaption{
  padding-top: 102px;
  padding: 0;
  margin: 0 auto;
}*/
/*figcaption a:hover {
  color: #f26522;
}*/
figure:hover a{
  color: #f26522;
}
img{
/*  border-style: solid;
  border-width: 2px;
  border-color:  #000000;*/
  border: 1px solid white;
  box-sizing: border-box;
  box-shadow: 0 18px 10px 1px rgba(0, 0, 0, 0.6);
  width: 307px;
  height: 200px;
  border-image: linear-gradient(to bottom, #ebeded 0%, #28282b 100%);
  border-image-slice: 1;
/*  border: 1px solid black;
  box-sizing: border-box;
  background-color:  #ffffff;
  box-shadow: 0px 17px 24px 0px #000000;
  border-top: linear-gradient(to top, white);*/
}
.shopping a{
  position: relative;
  bottom: 0;
  z-index: 2;
}
.sightsheet a{
  position: relative;
  bottom: 0;
  z-index: 2;
}
.food a{
  position: relative;
  bottom: 0;
  z-index: 2;
}
.bars a{
  position: relative;
  bottom: 0;
  z-index: 2;
}
.art a{
  position: relative;
  bottom: 0;
  z-index: 2;
}
.walking a{
  position: relative;
  bottom: 0;
  z-index: 2;
}
.promo-tooltip{
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 307px;
    height: 63px;
    background-color: #f26522;
    padding: 15px 0;
    text-align: center;
    transition: all 0.4s linear;
    font-family: sans-serif;
    padding: 0;
    z-index: 1;
    /*padding-right: 20px;*/
    opacity: 0;
}
.price h7{
  font-family: Verdana;
  color:  #ffffff;
  font-size: 20px;
  font-weight: 400;
  line-height: 21px;
  padding-bottom: 31px;

}
.price p{
  font-family: Verdana;
  color:  #ffffff;
  font-size: 10px;
  font-weight: 400;
  line-height: 21px;
  margin: 0 auto;
  padding-top: 12px;
}
.price{
  padding: 0;
/*  padding-top: 15px;*/
  float: left;
  margin: 0 auto;
  text-align: left;
  padding-left: 21px;
}
.details{
  float: right;
}
.details p{
  font-family: Verdana;
  color:  #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  padding: 0;
  padding-top: 20px;
  padding-right: 30px;
}
.details p::after{
  content: '\203A';
}
.sightsheet:hover .promo-tooltip {
    bottom: 0;
    opacity: 1;
}
.shopping:hover .promo-tooltip {
    bottom: 0;
    opacity: 1;
}
.food:hover .promo-tooltip {
    bottom: 0;
    opacity: 1;
}
.bars:hover .promo-tooltip {
    bottom: 0;
    opacity: 1;
}
.art:hover .promo-tooltip {
    bottom: 0;
    opacity: 1;
}
.walking:hover .promo-tooltip {
    bottom: 0;
    opacity: 1;
}
.futer p{
  font-family: Verdana;
  color:  #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  padding: 0;
  padding-bottom: 25px;
  margin: 0 auto;
}
.futer{
    display: inline-block;
}
